<div class="container my-4">
  <h1 class="title has-text-centered">ヘルプ 
  </h1>
  <div class="columns">
    <div class="column is-8 is-offset-2 my-2">
      <div class="card">
        <div class="card-content">
          <div class="content ml-3 mt-3">
            <p class="title is-5 has-text-weight-bold">
              <svg class="svg-inline--fa fa-question-circle fa-w-16 fa-lg fa-fw" aria-hidden="true" focusable="false" data-prefix="far" data-icon="question-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z">
                </path>
              </svg>このサイトは何を目的としてるんですか？
            </p>
            <p class="has-text-weight-normal ml-1">
              <svg class="svg-inline--fa fa-arrow-right fa-w-14 fa-fw mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
              </svg>このサイトは主にエンジニア未経験者向けに作られた学習サイトになります。実際にエンジニアとして働いていた方で、今まで得てきた知識や経験を問題集としてサイトにしたいと考えています。今はまだサイト作成主である私が考えた問題しかありませんが、「お問い合わせフォーム」で問題を作っていただいたり、ツイッター（開設予定）で問題を考えていただければ私の方で吟味した後で問題を追加させていただきたいと思っています。問題の種類についても今はまだ3つ(2021年8月9日時点)しかありませんが、「この分野のこの問題は役に立ちそうだ」などあればぜひご応募ください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-8 is-offset-2 my-2">
      <div class="card">
        <div class="card-content">
          <div class="content ml-3 mt-3">
            <p class="title is-5 has-text-weight-bold">
              <svg class="svg-inline--fa fa-question-circle fa-w-16 fa-lg fa-fw" aria-hidden="true" focusable="false" data-prefix="far" data-icon="question-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"></path>
              </svg><!-- <i class="far fa-question-circle fa-lg fa-fw"></i> Font Awesome fontawesome.com -->バグがありました。
            </p>
            <p class="has-text-weight-normal ml-1">
              <svg class="svg-inline--fa fa-arrow-right fa-w-14 fa-fw mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
              </svg><!-- <i class="fas fa-arrow-right fa-fw mr-1"></i> Font Awesome fontawesome.com -->
              お手数ですが、
              <a class="has-text-grey-darker has-text-weight-medium border-bottom border-secondary text-decoration-none" href="/inquiries/new">お問い合わせフォーム</a>
            よりお問い合わせをお願い致します。
            </p>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="columns">
    <div class="column is-8 is-offset-2 my-2">
      <div class="card">
        <div class="card-content">
          <div class="content ml-3 mt-3">
            <p class="title is-5 has-text-weight-bold">
              <svg class="svg-inline--fa fa-question-circle fa-w-16 fa-lg fa-fw" aria-hidden="true" focusable="false" data-prefix="far" data-icon="question-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"></path>
              </svg><!-- <i class="far fa-question-circle fa-lg fa-fw"></i> Font Awesome fontawesome.com -->機能を追加して欲しい。
            </p>
            <p class="has-text-weight-normal ml-1">
              <svg class="svg-inline--fa fa-arrow-right fa-w-14 fa-fw mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
              </svg><!-- <i class="fas fa-arrow-right fa-fw mr-1"></i> Font Awesome fontawesome.com -->
              <a class="has-text-grey-darker has-text-weight-medium border-bottom border-secondary text-decoration-none" href="/inquiries/new">お問い合わせフォーム</a>
              よりお問い合わせをお願い致します。随時アップデートしていきますので、対応をお待ちいただければと思います。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-8 is-offset-2 my-2">
      <div class="card">
        <div class="card-content">
          <div class="content ml-3 mt-3">
            <p class="title is-5 has-text-weight-bold">
              <svg class="svg-inline--fa fa-question-circle fa-w-16 fa-lg fa-fw" aria-hidden="true" focusable="false" data-prefix="far" data-icon="question-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"></path>
              </svg><!-- <i class="far fa-question-circle fa-lg fa-fw"></i> Font Awesome fontawesome.com -->問題が間違っている、追加して欲しいです。
            </p>
            <p class="has-text-weight-normal ml-1">
              <svg class="svg-inline--fa fa-arrow-right fa-w-14 fa-fw mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
              </svg><!-- <i class="fas fa-arrow-right fa-fw mr-1"></i> Font Awesome fontawesome.com -->
              <a class="has-text-grey-darker has-text-weight-medium border-bottom border-secondary text-decoration-none" href="/inquiries/new">お問い合わせフォーム</a>
              よりお願い致します。修正・追加を行います。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
