<div class="container my-4">
  <h1 class="title has-text-centered is-hidden-mobile">バッチファイル一覧</h1>
  <h1 class="title has-text-centered is-size-4 is-hidden-tablet">コマンドプロンプト一覧</h1>
  <div class="row">
    <div class="column is-6 is-offset-3">
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th class="is-hidden-mobile" scope="col">問題</th>
            <th class="is-hidden-mobile" scope="col">コマンド</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">ファイル保存</td>
          <td class="has-text-weight-semibold">「バッチファイル名.bat」、もしくは「バッチファイル名.com」。.com はWindowsNT系と呼ばれるOS(Windows10など)でのみ使用できます</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">バッチファイル実行</td>
          <td class="has-text-weight-semibold">「バッチファイル名.bat」または 「バッチファイル名」 </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">@echo off</td>
          <td class="has-text-weight-semibold">出力結果で余計な出力を省くもの</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">echo Hello,world!</td>
          <td class="has-text-weight-semibold">「Hello,world!」と表示させる</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">copy</td>
          <td class="has-text-weight-semibold">ファイルをコピーする際に使用するコマンド.<br>例：copy コピー元 コピー先</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">pause</td>
          <td class="has-text-weight-semibold">メッセージを出してバッチ処理を一時停止する</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">%環境変数名%</td>
          <td class="has-text-weight-semibold">変数の表し方</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">「:ラベル名」 or 「goto ラベル名」</td>
          <td class="has-text-weight-semibold">GOTOコマンドでジャンプする位置を示すラベル行を設定する</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">call</td>
          <td class="has-text-weight-semibold">バッチファイルから他のバッチファイルを起動する同じバッチファイル内のサブルーチンを呼び出す</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">サブルーチン</td>
          <td class="has-text-weight-semibold">プログラム中で意味や内容がまとまっている作業をひとつの手続きとしたもの。</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">choice [オプション]</td>
          <td class="has-text-weight-semibold">押されたキーに応じた値を返すことでキー入力を判定する</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">cscript</td>
          <td class="has-text-weight-semibold">コマンドラインからVBScriptやJScriptのスクリプトを実行する</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">if, else, not</td>
          <td class="has-text-weight-semibold">条件判断を行う</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">for</td>
          <td class="has-text-weight-semibold">	繰り返し処理を行う。for [オプション] %%変数 in (対象) do 処理</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">rem</td>
          <td class="has-text-weight-semibold">バッチファイル中にコメント行を作成する</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">setlocal</td>
          <td class="has-text-weight-semibold">ローカル変数扱いの環境変数をセットする</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">endlocal</td>
          <td class="has-text-weight-semibold">ローカル変数の対象範囲末尾を指定する</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">shift</td>
          <td class="has-text-weight-semibold">指定した引数を一つ番号の小さい方へずらすコマンド。<br><br>[バッチファイル名] [引数1] [引数2] [引数3]...<br>%1 → 引数1<br>%2 → 引数2<br>%3 → 引数3</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">set</td>
          <td class="has-text-weight-semibold">ローカル変数扱いの環境変数をセットする</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">exit</td>
          <td class="has-text-weight-semibold">バッチ処理を終了する。<br>exit /bでバッチファイルだけが終了して、コマンドプロンプトへ制御が戻る。</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="column is-6 is-offset-3 has-text-centered">
      <a class="button is-primary is-outlined is-rounded text-decoration-none" data-turbolinks="false" href="lessons/batch/exam">
        <span class="mr-1">
          <svg class="svg-inline--fa fa-caret-square-right fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-square-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
            <path fill="currentColor" d="M48 32h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48zm140.485 355.515l123.029-123.029c4.686-4.686 4.686-12.284 0-16.971l-123.029-123.03c-7.56-7.56-20.485-2.206-20.485 8.485v246.059c0 10.691 12.926 16.045 20.485 8.486z"></path>
          </svg><!-- <i class="fas fa-caret-square-right"></i> Font Awesome fontawesome.com -->
        </span>バッチファイルコマンドはこちら
      </a>
    </div>
  </div>
</div>
a