<div class="container my-4">
  <h1 class="title has-text-centered is-hidden-mobile">json問題集</h1>
  <h1 class="title has-text-centered is-size-4 is-hidden-tablet">Vim初級編 コマンド一覧</h1>
  <div class="row">
    <div class="column is-6 is-offset-3">
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th class="is-hidden-mobile" scope="col">問題</th>
            <th class="is-hidden-mobile" scope="col">コマンド</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">{“キー” : “値”}、</td>
          <td class="has-text-weight-semibold">jsonでは「キー」と「値」を指定して記述する。指定する際は「ダブルクォテーション」で囲む。</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">{“key1” : “value1”, “key2” : “value2”}</td>
          <td class="has-text-weight-semibold">２つ指定する際は「、」で区切る</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">"jsonrpc":"2.0"</td>
          <td class="has-text-weight-semibold">Zabbixではjsonを使用してデータのやり取りをしている。JSON-RPC(プロトコル)とはZabbixのAPIを呼び出すためのものであり、JSON-RPCのバージョンが2.0という意味である</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">"method": "event.get"</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
          <td class="has-text-weight-semibold">上にカーソル移動</td>
          <td class="has-text-weight-semibold">k</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="column is-6 is-offset-3 has-text-centered">
      <a class="button is-primary is-outlined is-rounded text-decoration-none" data-turbolinks="false" href="/lessons/network-02/exam">
        <span class="mr-1">
          <svg class="svg-inline--fa fa-caret-square-right fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-square-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
            <path fill="currentColor" d="M48 32h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48zm140.485 355.515l123.029-123.029c4.686-4.686 4.686-12.284 0-16.971l-123.029-123.03c-7.56-7.56-20.485-2.206-20.485 8.485v246.059c0 10.691 12.926 16.045 20.485 8.486z"></path>
          </svg><!-- <i class="fas fa-caret-square-right"></i> Font Awesome fontawesome.com -->
        </span>Vim中級編はこちら
      </a>
    </div>
  </div>
</div>