<div class="container my-4">
  <h1 class="title has-text-centered">お問い合わせフォーム</h1>
  <div class="rows">
    <div class="column is-8 is-offset-2">
      <form action="/inquiries" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="3Jq0sN7OTytAJ2fCGB9t2KrHB9Rc5hKr08Wf1Kh62tRnWRqhPWVyTI7r7MD9agOCS+vbVEK4Bt2nrcFkzcGjng==">
          <div class="field">
            <div class="d-flex justify-content-start align-items-center">
              <div class="badge badge-danger mr-2 mb-2">必須
              </div>
              <label class="label" for="inquiry_category">カテゴリ
              </label>
            </div>
            <div class="select is-info">
              <select name="inquiry[category]" id="inquiry_category">
                <option value="bug">バグや問題報告</option>
                <option selected="selected" value="request">機能追加リクエスト</option>
                <option value="others">その他のお問い合わせ</option>
              </select>
            </div>
          </div>
          <div class="field">
            <div class="d-flex justify-content-start align-items-center">
              <div class="badge badge-primary mr-2 mb-2">任意
              </div>
              <label class="label" for="inquiry_name">お名前
              </label>
            </div>
            <div class="control">
              <input class="input" type="text" value="" name="inquiry[name]" id="inquiry_name">
            </div>
          </div>
          <div class="field">
            <div class="d-flex justify-content-start align-items-center">
              <div class="badge badge-primary mr-2 mb-2">任意
              </div>
              <label class="label" for="inquiry_email">メールアドレス
              </label>
            </div>
            <div class="control">
              <input class="input" type="email" value="" name="inquiry[email]" id="inquiry_email"></div>
            </div>
            <div class="field">
              <div class="d-flex justify-content-start align-items-center">
                <div class="badge badge-danger mr-2 mb-2">必須
                </div>
                <label class="label" for="inquiry_body">お問い合わせ内容
                </label>
              </div>
              <div class="control">
                <textarea class="is-invalid textarea is-info" rows="10" name="inquiry[body]" id="inquiry_body"></textarea>
                <div class="invalid-feedback">お問い合わせ内容を入力してください</div>
              </div>
            </div>
            <div class="field">
              <div class="control has-text-centered">
                <input type="submit" name="commit" value="送信" class="button is-primary has-text-weight-bold" data-disable-with="送信">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>