<% flash.each do |key, value| %>
<%= value %>
<% end %>
<% if flash[:notice] %>
　<div class="alert alert-info"><%= flash[:notice] %></div>
<% elsif alert %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>